.quiz {
  width: 650px;
  padding: 40px;
  background: #fff;
  border-radius: 15px;
  @media (max-width: 650px) {
    width: 450px;
  }
  @media (max-width: 480px) {
    width: 370px;
  }
  &__header {
    margin-bottom: 30px;
    // width: 100%;
    height: 15px;
    background: #d4d4d4;
    border-radius: 40px;
    overflow: hidden;
    transition: 0.5s;
    &__app {
      width: 45%;
      height: 20px;
      background: #01a036;
      transition: 0.5s;
    }
  }
  &__question {
    &__title {
      font-family: "Ubuntu";
      font-size: 30px;
      font-weight: 700;
      color: #000000;
      margin-bottom: 20px;
    }
  }
  &__options {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
    transition: 0.3s;
    h3 {
      padding: 20px;
      border: 2px solid #888;
      border-radius: 20px;
      font-family: "Ubuntu";
      font-size: 18px;
      font-weight: 700;
      color: #040404;
      transition: 0.3s;
    }
  }
}
